#logo-container {
    height: 64px;
}

#logo-container img {
    width: 40px;
}

.exercise-info-container {
    width: 560px;
    min-height: 100px;
    margin: 20px auto 0;
    border-radius: 5px;
    padding: 10px 15px;
}

#point-container {
    position: relative;
}

/* Selector point */
#point-container .point {
    position: absolute;
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}