#logo-container {
    height: 64px;
}

#logo-container img {
    width: 40px;
}

.exercise-info-container {
    width: 560px;
    min-height: 100px;
    margin: 20px auto 0;
    border-radius: 5px;
    padding: 10px 15px;
}

#point-container {
    position: relative;
}

/* Selector point */
#point-container .point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#point-container.start .point {
    display: inherit;
}

#point-container.start .point.stop, #point-container.start .point.selected {
    animation: none;
}

#point-container.start .point div {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    margin: -7px 0 0 -7px;
    z-index: 0;
    border-radius: 50%;
    border: 4px solid #1565C0
}

#point-container.start .point.selected div {
    display: inherit;
}

#exercises-container div {
    cursor: pointer;
}

#exercises-container div.selected {
    cursor: pointer;
}

.favorite img {
    height: 30px;
    cursor: pointer;
}